<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Сайт по созданию рассылок{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'mailing:clients_list' %}">Сервис рассылок</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'mailing:clients_list' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:clients_list' %}">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:client_create' %}">Добавить клиента</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:clients_list' %}">Сообщение</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:clients_list' %}">Добавить сообщение</a>
                </li>


            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>