{% extends 'mailing/base.html' %}

{% block title %}Сообщение {{ message.subject }}{% endblock %}

{% block content %}
{% include 'mailing/header.html' %}

<h1>Сообщение {{ message.subject }}</h1>
<p>Текст: {{ message.text }}</p>

<a href="{% url 'mailing:message_update' message.pk %}" class="btn btn-secondary">Редактировать</a>
<a href="{% url 'mailing:message_delete' message.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'mailing:messages_list' %}" class="btn btn-primary">Вернуться к списку</a>


{% endblock %}
