{% extends 'mailing/base.html' %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<h1>Новый пароль</h1>

{% if validlink %}
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}<br>
        {{ form.new_password1 }}<br><br>

        {{ form.new_password2.label_tag }}<br>
        {{ form.new_password2 }}<br><br>

        <button type="submit" class="btn btn-primary">Сохранить пароль</button>
    </form>
{% else %}
    <p>Ссылка для восстановления пароля недействительна. Возможно, вы уже использовали её ранее.</p>
    <a href="{% url 'users:password_reset' %}">Запросить новую ссылку</a>
{% endif %}
{% endblock %}
